@model Movie



<p>----------------------------</p>

<h2>Edit Non-Data-Annotations</h2>
<form asp-action="Edit2" method="post">
    <p>Year</p>


    <p>Run Time</p>
    <input name="RunTime"/>

    <p>Genre</p>
    <input name="Genre"/>

    <p>Title</p>
    <input name="Title"/>

    <input type="submit"/>
</form>
