@model Child
<a href="https://www.reddit.com/@Model.data.permalink">
<h2>@Model.data.title</h2>

<img src="@Model.data.thumbnail"/>
    <p>Up Votes: @Model.data.ups</p>
    <p>Down Votes: @Model.data.downs</p>
 </a>