<div class="blackBorder row">
    <div class="blackBorder col-sm">
        <p>Hello world!</p>
    </div>
    <div class="blackBorder col-sm">
        <p>I want toast!</p>
    </div>
    <div class="blackBorder col-sm">
        <p>Birds are very real!</p>
    </div>
    <div class="blackBorder col-sm">
        <p>Birds are very real!</p>
    </div>
    <div class="blackBorder col-sm">
        <p>Birds are very real!</p>
    </div>
</div>
<div class="blackBorder row">
    <div class="blackBorder col-sm">
        <p>What is your favorite Jelly bean flavor?</p>
    </div>
    <div class="blackBorder row">
        <p>Pizza on pineapple, debate it.</p>
    </div>
</div>