<div style="border: 1px solid black;" *ngFor="let m of movies; let i = index">
    <p>Title: {{m.title}}</p>
    <p>Genre: {{m.genre}}</p>
    <p>Year: {{m.year}}</p>
    <p>Run Time: {{m.runTime}}</p>
    <p>Id: {{m.id}}</p>
    <button (click)="DeleteEntry(m.id, i)">Delete {{m.title}}</button>
    <app-update-movie [Id]=m.id></app-update-movie>
</div>
<!--This creates a reference to another component, our create movie component
in angular you are allowed to reuse and reference as many components as you want at once 
-->
<app-create-movie></app-create-movie>